* {
    /*Globalno resetiranje svoh stilova od strane browsera*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, svg {
    display: block;
    max-width: 100%;
}

/*Ovaj komad koda skriva sadržaj samo za one koji ne koriste screen reader*/
.u-visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

html {
    font-family: 'Barlow', sans-serif;
    font-size: 62.5%; /*Postavlja veličinu fonta na 10px bazno kako bi bilo lakše za množiti - 10px/16px= 0.625*/
}

h1, h2, h3, a {
    font-family: 'Fraunces', serif;

}

h1 {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
    color: #808397;
    line-height: 3rem;
}

header {
    padding: 1.8rem;
    background-color: #3DBEFF;

}

header .contain {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

header svg path {
    fill: #000;
}

.contain {
    max-width: 144rem;
    margin: 0 auto;
}

.main-navigation {
    position: relative;
}

.main-navigation ul  {
    display: none;
    opacity: 0;
    list-style: none;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 1rem;
    background-color: #fff;
    flex-direction: column;
    min-width: calc(100vw - 4.5rem);
    transform: translate(0,5rem);
    padding: 3rem;
    transition: opacity 0.5s ease;
}

.main-navigation ul.is-visable {
    display: flex;
}

.main-navigation ul.is-active {
    opacity: 1;
}

.main-navigation ul.non-visable {
    display: none;
}

.main-navigation ul.non-active {
    opacity: 0;
}

.main-navigation ul::before {
    display: block;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 24L24 0V24H0Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.main-navigation ul a {
    display: block;
    font-family: 'Barlow', sans-serif;
    padding: 0.8rem 2.5rem;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
}

.main-navigation ul a:hover {
    text-decoration: underline;
}

.main-navigation ul a:focus-visible {
    outline: 1px solid #24303E  ;
}

.main-navigation .contact {
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #24303E;
    background-color: #fff;
    border-radius: 2.8rem;
    padding: 1.5rem 3rem;
    transition:color 0.3s ease-out, background-color 0.3s ease-out;
    background-color: #FBD600;
}

.main-navigation .contact:focus,
.main-navigation .contact:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.close-btn {
    display: none;
}

button.active {
    display: block;
}

button.inactive {
    display: none;
}


button {
    font: inherit;
    border: 0;
    background: transparent;
    padding: 1rem;
}

.hero-section {
    background-color: #3DBEFF;
    display: flex;
    color: #262626;
    text-transform: uppercase;
    word-break: break-word;
}

.hero-section .contain {
    background-image: url('assets/mobile/image-header.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    aspect-ratio: 375 / 538;

    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero-section svg {
    margin-top: 5rem;
}

.hero-section svg path {
    stroke: #262626;
}

.services {
    max-width: 144rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

    .services img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.services-caption {
    display: grid;
    text-align: center;
    align-content: center;
    padding: 5rem 0;
    max-width: 85%;
}

    .services-caption p {
        margin: 2rem 0;
        font-size: 1.6 rem;
    }

    .services-caption a {
        text-decoration: none;
        text-transform: uppercase;
        color: #24303E;
        font-size: 1.5rem;
}

    .services-caption .yellow::after {
        content: '';
        display: block;
        height: 1rem;
        width: 13rem;
        background-color: #FAD400;
        opacity: 0.2;
        border-radius: 1rem;
        margin-top: -0.8rem;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .services-caption .pink::after {
        content: '';
        display: block;
        height: 1rem;
        width: 13rem;
        background-color: #FE7766;
        opacity: 0.2;
        border-radius: 1rem;
        margin-top: -0.8rem;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    .services-caption a:hover::after,
    .services-caption a:focus-visible::after {
        opacity: 1;
    }
    
 .works {
     display: grid;
     max-width: 144rem;
     margin: 0 auto;
 }  

 .works .card {
     display: grid;
     max-width: 100%;
     margin: initial;
     grid-template-columns: auto;
 }

    .works .card > * {
        grid-area: 1 / 1;
    }


    .works .card > div {
        align-self: end;
        text-align: center;
        padding: 0 1rem 5rem 1rem;
    }

    .works .card:first-child {
        color: #24554A;
    }

    .works .card:nth-child(2) {
        color: #052C3B;
    }

    .works .card:nth-child(2) p {
        color: #19536C;
    }

    .works p {
        color: inherit;
    }

    .works img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.client {
    display: grid;
    text-align: center;
    justify-items: center;
    background-color: #FFFCF8;
}

    .client figure {
        display: grid;
        justify-items: center;
        padding-top: 2rem;
    }

    .client h2 {
        font-size: 1.6rem;
        color:#A7AAAD;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        padding: 5rem 0 2rem 0;
        white-space: nowrap;
    }

    .client p {
        font-size: 1.7rem;
        color: #5B636D;
        padding: 0 2rem 0 2rem;
    }

    .client img {
        border-radius: 50%;
        margin: 2rem 0;
    }

    .client figcaption {
        display: grid;
        font-family: 'Fraunces', serif;
        font-size: 1.8rem;
        color: #24303E;
        padding: 2rem 0;
    }

    .client cite {
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-size: 1.2rem;
        color: #A7AAAD;
        padding: 2rem 0 0 0;
    }


.gallery {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

    .gallery img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sunny-footer {
    background-color: #90D4C6;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 144rem;
}

.sunny-footer svg path {
    fill: #2C7566;
    padding: 2rem;
}

.sunny-footer svg {
    margin: 6rem 0;
}

.sunny-footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto;
}

.sunny-footer .footer-links {
    width: 35rem;
}

.sunny-footer .footer-links a {
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
    color: #458D7E;
}

.sunny-footer .social {
    width: 20rem;
    padding: 2.5rem 0;
}


.sunny-footer a  {
    text-decoration: none;
    
}

.sunny-footer a:hover,
.sunny-footer a:active {
    color: #fff;
    transition:color 0.3s ease-out, background-color 0.3s ease-out;
}

.sunny-footer .social svg path:hover,
.sunny-footer .social svg path:active {
    fill: #fff;
    transition:fill 0.3s ease-out, background-color 0.3s ease-out;
}



/*Media Queries - responsive*/

@media (min-width: 30em) {
    .works {
        grid-template-columns: 1fr 1fr;
    }

    .works .card > div {
        padding-top: 100%;
    }

}

@media (min-width: 40em) {

    button {
        display: none;
    }

    
    button.active {
        display: none;
    }

    .main-navigation ul {
        all: revert;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
        
    }

    .main-navigation ul::before {
        display: none;
    
    }

    .main-navigation .contact {
        background-color: #fff;
        margin-left: 1.5rem;
    }

    .main-navigation .contact:focus,
    .main-navigation .contact:hover {
        background-color: #000;
    }

    .hero-section .contain {
        background-image: url('assets/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        aspect-ratio: 1440 / 700;
        justify-content: flex-start;
        margin-top: 3rem;

    }

    .hero-section h1 {
        margin:  8rem 0 5rem 0;
    }

    .services {
        grid-template-columns: 1fr 1fr;
    }

        .services:nth-child(2) > picture {
        order: 2;
    }

        .services-caption {
            aspect-ratio: initial;
            text-align: left;
        }



    .works {
        grid-template-columns: 1fr 1fr;
    }

.gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client{
   padding-top: 5rem;
}

.client .desktop {
    max-width: 144rem;
    display: grid;
    grid-auto-flow: column;
    padding: 0 10rem 10rem 10rem;
}

.client h2 {
    font-size:2rem;
    padding-bottom: 5rem;
}

.sunny-footer {
    max-width: 100%;
}

.services-caption .yellow::after {
    content: '';
    display: block;
    height: 1rem;
    width: 13rem;
    background-color: #FAD400;
    opacity: 0.2;
    border-radius: 1rem;
    margin-top: -0.8rem;
    transition: opacity 0.3s ease;
    position: relative;
    left: 0%;
    transform: translate(-10%, 0);
    z-index: -1;
}

.services-caption .pink::after {
    content: '';
    display: block;
    height: 1rem;
    width: 13rem;
    background-color: #FE7766;
    opacity: 0.2;
    border-radius: 1rem;
    margin-top: -0.8rem;
    transition: opacity 0.3s ease;
    position: relative;
    left: 0%;
    transform: translate(-9%, 0);
    z-index: -1;
}


@media (min-width: 50em) {
    .hero-section h1 {
        font-size: 5.6rem;
    }

}

@media (min-width: 70em) {
    .works .card > div {
        padding: 0 15rem 8rem 15rem;
    }
}
}
